[Unit]
Description=Launch the KeepassXC password manager
Wants=dropbox.service
After=graphical.target dropbox.service

[Service]
ExecStart=/usr/bin/keepassxc
Restart=on-failure

[Install]
RequiredBy=default.target