[Unit]
Description=Launch the qBittorrent torrent client
After=graphical.target
After=network.target network-online.target
Wants=network.target network-online.target

[Service]
ExecStart=/usr/bin/qbittorrent --no-splash
Restart=on-failure

[Install]
RequiredBy=default.target
