[Unit]
Description=Starts save-my-battery program
After=graphical.target

[Service]
# backup when charging threshold doesnt work for some reason
ExecStart=/home/seba/Documents/projects/golang/bin/save-my-battery --threshold 65 --rate 300
Restart=on-failure

[Install]
RequiredBy=default.target