set idearefactormode=keep
set scrolloff=10
set number
set relativenumber
set showmode
set showcmd
set visualbell
set notimeout

set ignorecase
set smartcase
set incsearch
set hlsearch

set highlightedyank
set surround
set ideajoin
set which-key

let mapleader=" "

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

map <leader>dd :action ToggleDistractionFreeMode<CR>
map <leader>dz :action ToggleZenMode<CR>
map <leader>df :action ToggleFullScreen<CR>

nnoremap <TAB> :action NextTab<CR>
nnoremap <s-TAB> :action PreviousTab<CR>

nnoremap <Leader>bd :action CloseEditor<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap ==  :action ReformatCode<CR>
nnoremap -- :action OptimizeImports<CR>

nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>h  :action LocalHistory.ShowHistory<CR>

nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>su :action ShowUsages<CR>
nnoremap <leader>ss :action QuickJavaDoc<CR>
nnoremap <leader>fs :action FileStructurePopup<CR>
nnoremap <leader>rf :action GotoRelated<CR>

nnoremap <leader>a :action ngxQuickSwitch.QuickSwitch<CR>

nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gn :action Forward<CR>

nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>
nnoremap <leader>co :action CloseAllEditorsButActive<CR>

nnoremap <leader>ro :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>re :action RenameElement<CR>
nnoremap <leader>ms :action MakeStatic<CR>

nnoremap <leader>ed :action ShowErrorDescription<CR>
nnoremap <leader>ti :action ExpressionTypeInfo<CR>
nnoremap <leader>pi :action ParameterInfo<CR>
nnoremap <leader>ti :action ExpressionTypeInfo<CR>
nnoremap <leader>pi :action ParameterInfo<CR>

nnoremap <leader>sw :SurroundWith<CR>
nnoremap <CR><CR> :action ShowIntentionActions<CR>

nnoremap s :action flash.search<CR>

" CamelCase humps
nnoremap L [w
nnoremap H [b
